.mat-dialog-title{ text-align: center; }
.mat-dialog-actions {
  justify-content: center;
  margin-bottom: 0px;
  button {
    min-width: 100px;
    &+button {
      margin-left: 20px;
    }
  }
}

.modal_message {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;  
}
