
.form{
    padding: 3rem;
    h3 {
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    button{
        font-weight: 400
    }
    mat-form-field{
        font-size: 1rem;
    }
}

.form-btn {
    margin-top: 20px;
    button + button {margin-left: 20px;}
}



// pratice code 

// h1{
//     color: blue;  // not working
// }

// h3{
//     color: red;  // not working
// }

// :host {
//     border: 5px solid red;
//     h3{
//         color: red;  // not working
//     }
// }

// ::ng-deep {
//     border: 5px solid red;
//     h3{
//         color: red;
//     }
//     h1{
//         color: blue;
//     }
// }

// :host ::ng-deep input.mat-input-element {
//     color: red !important;
// }

:host-context(.content){
    background-color: red ;
     h3 {
         background-color:blue;
     }
}

// if parent has those class then the css will applied only on host element from 