<div class="account_wrapper">
    <div class="inr_wrap">
        <div class="col">
            <div class="logo_info" >
                <a routerLink="/" ><img  src="./assets/images/logo_images.jpg" alt="" class="logo"></a>
                <h1>Welcome to Demo Admin </h1>
                <p>Sign In in order to Access the Admin Panel</p>

            </div>
        </div>
        <div class="col">
            <div class="account_form_wrap">
                <div class="content" >
                    <router-outlet></router-outlet>
                  </div>
            </div>
        </div>
    </div>
</div>